
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
.main{
    background-image: url("IN-en-20240326-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    height: 84vh;
    position: relative;
    background-repeat: no-repeat;
    background-size: max(1500px,100px);
    background-position: center center;
}
.main .box{
    height: 84vh;
    width: 100%;
    opacity: 0.74;
    background-color: black;
    top: 0;
    position: absolute;
}
nav{
    display: flex;
    justify-content:space-between ;
    margin: auto;
    align-items: center;
    text-align: center;
    height: 100px;
    max-width: 60vw;
}
nav .img{
    color: red;
    width: 130px;
    position: relative;
    z-index: 10;
}
.hero{
    font-family: 'Martel Sans',sans-serif;
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 20px;
    padding: 0 30px;
}
.hero> :first-child{
    font-size: 48px;
    font-weight: bolder;
    text-align: center;
}
.hero> :nth-child(2){
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}
.hero> :nth-child(3){
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}
.line{
    height: 3px;
    background-color:grey;
    position: relative;
    z-index: 20;
}
.btn{
    padding: 5px 5px;
    font-weight: 400;
    font-family: 'Martel Sans',sans-serif;
    background-color: rgba(248,243,243,0.021);
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
}
.hero-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.main-buttons{
    z-index: 10;
}
.main input{
    padding: 7px 101px 8px 14px;
    font-size: 12px;
    font-weight: 900;
    border-radius: 4px;
    color: white;
    background-color: rgba(23,23,23,0.7);
    border: 1px solid rgba(246,238,238,0.7);
}
.red-btn{
    background-color: red;
    color: white;
    padding: 5px 15px 5px 15px;;
    font-size: 20px;
    border-radius:4px ;
    font-weight: 400;
}
.btn-red-sm{
    background-color: red;
    color: white;
    padding: 5px;
}
.first{
    display: flex;
    justify-content: center;
    max-width: 80vw;
    margin: auto;
    color: white;
    align-items: center;
}
@media  screen and (max-width:1300px) {
    .first{
        flex-wrap: wrap;
    }
    
}
.secimg{
    position: relative;
}
.secimg img{
    width: 30vw;
    position: relative;
    z-index: 10;
}
.secimg video{
    position: absolute;
    top: 50px;
    width: 26vw;
    right: 0;
}
section.first> div{
    display: flex;
    flex-direction: column;
    font-family: 'Martel Sans',sans-serif;
    gap: 5px;
}
section.first> div :nth-child(1){
    font-size: 48px;
    font-weight: bolder;
}
section.first> div :nth-child(2){
    font-size: 22px;
}
.faq{
    background-color: black;
    color: white;
}
.faq h1{
    margin-top: 40px;
    text-align: center;
    font-size: 48px;
}
.faq-box svg{
    filter: invert(1);
}
.faq-box{
    transition: all 1s ease-out;
    display: flex;
    background-color: #2d2d2d;
    justify-content: space-between;
    padding: 24px;
    margin:14px auto;
    max-width: 60vw;
    cursor: pointer;
}
.faq-box:hover{
    background-color: #414141;
}
footer{
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 14px;
}
footer .questions{
    padding: 34px 32px;
}
.footer{
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    gap: 14px;
}
.footer a{
    color: white;
    font-size: 14px;
}
.footer-item{
    display: flex;
    flex-direction: column;
    gap: 23px;
}